@model ResetPasswordVm

<div class="container-fluid">
    <div class="row">

        <div class="col-12 options-page-title">
            <span class="display-4">Reset Password</span>
        </div>

        <form method="post" asp-controller="Login" asp-action="ResetPassword" class="reset-password-form">
            <input asp-for="UserEmail" type="text" value="@Model.UserEmail" hidden="" />
            <input asp-for="ResetPasswordToken" type="text" value="@Model.ResetPasswordToken" hidden="" />
            @*Password*@
            <div class="row reset-password-form-group">
                <div class="col-12">
                    <label asp-for="Password" class="normal-label"></label>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <input asp-for="Password" type="password" class="normal-input w-100" placeholder="Password:" autofocus />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            @*Confirm Password*@
            <div class="row reset-password-form-group">
                <div class="col-12">
                    <label asp-for="ConfirmPassword" class="normal-label"></label>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <input asp-for="ConfirmPassword" type="password" class="normal-input w-100" placeholder="Confirm Password:" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="normal-button reset-password-button">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @*From: /Login/ForgotPasswordCallback:*@
    @if (TempData["Swal"] is not null && (bool)TempData["Swal"]){
<script type="text/javascript">
    sweetAlert('@TempData["Type"]','@TempData["Title"]','@TempData["Message"]');
</script>
    }
}
